<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="home-container container-fluid">
        <div class="home-bucket" *ngFor="let item of childObject">
          <div class="bucket-heading">
            <h1 class="bucket-name">{{ item.bucketName }}</h1>
            <div class="menu-nav">
              <div class="dropdown-container" tabindex="-1">
                <div class="three-dots"></div>
                <div class="dropdown">
                  <a href="#">
                    <div>dropdown 1</div>
                  </a>
                  <a href="#">
                    <div>dropdown 2</div>
                  </a>
                  <a href="#">
                    <div>dropdown 3</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- <app-cards></app-cards> -->
          <div class="bucket-task">
            <button class="add-task">Add Task<i class="fa fa-plus" style="margin-left: 10px; margin-top: 7px;" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      
</body>

</html>